.about{ 
    height:120rem;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 4rem;

    img{
        width: 70%;
    }
    .mainText{
        height: 30rem;
        width: 70%;
        text-align: center;
    
    }
    button{
            height: 4.9rem;
            width: 70%;
            background-color: @accents;
            color:white;
            font-size: 2.4rem;
            font-family: 'Red Hat Text', sans-serif;
            border: none;

            &:hover{
                color: @accents;
                background-color: white;
            }
        }
}
